<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main class="container">
    <%- include('statics/intro') -%>  
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>  