<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
    <section>
        <%- include('components/form-login') -%>

        <p>Si vous n'est pas incris, inscrivez vous ici : <a href="/register">ici</a></p>
    </section>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%> 