<!-- 
    Créer le formulaire de commment
-->

<form action="/comment" method="POST">
    <input type="text" name="posts" value="<%= postId %>" style="display: none;">
    <div class="form-group">
    <label for="text">Ajouter un commentaire: </label>
    <input class="form-control" type="text" name="text" required minlength="2" value="Mon super commentaire">
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Commenter</button>

</form>