        <footer>
            <p>Under <a href="https://en.wikipedia.org/wiki/WFPL" target="_blank">WFPL</a> - &copy; 2021 <a href="https://www.linkedin.com/in/guilhem-fouassier/" target="_blank">Guilhem Fouassier</a> / <a href="https://guilhemfouassier.com" target="_blank">guilhemfouassier.com</a></p>
        </footer>
    </body>
</html>  