<div class="row">
    <div class="col">
        <h1>Bienvenue sur le back office de Node.js Boiler Plate</h1>
        <p>Ceci est une page protégée, vous n'y avais accès qu'en étant loggé sur le site</p>
    </div>
</div>