/* 
Global
*/

    ul, li{
        list-style: none;
    }
    footer p {
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 900;
    }
    .comments li p{
        margin: 0;
    }
    .comments li p:last-of-type{
        text-align: right;
        font-size: 14px;
    }
/**/